<div class="my-5 w-11/12 mx-auto">
    <div>
        <h2 class="colorTexto text-2xl cinzel font-bold text-center md:text-start md:text-3xl xl:text-4xl mb-5 p-0">
            Conocimientos
        </h2>
    </div>
    <div class="flex gap-10 place-content-center flex-wrap min-h-full">
        <ul class="flex" *ngFor="let item of tools_used">
            <li class="flex flex-col justify-center items-center w-28 rounded p-4 gap-4 contenedor_tools">
                <img class="w-16 hover:animate-rotate-x hover:animate-duration-[2000ms]" [src]="item.url" alt="">
                <p class="text-center p-0 mx-auto text-white ubuntu text-sm md:text-lg xl:text-2xl">{{item.name | uppercase}}</p>
            </li>
        </ul>
    </div>
</div>
