<div class="max-w-lg mx-auto p-6 bg-white rounded shadow-md space-y-4">
  <h2 class="text-2xl font-bold text-center">Generador de QR con Logo</h2>

  <input
    type="text"
    [(ngModel)]="url"
    placeholder="Introduce la URL"
    class="w-full px-4 py-2 border rounded focus:outline-none focus:ring"
  />

  <input
    type="file"
    (change)="onLogoSelected($event)"
    accept="image/*"
    class="w-full"
  />

  <button
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 w-full"
    (click)="generarQR()"
  >
    Generar QR
  </button>
  <button
  class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 w-full"
  (click)="exportarQR()"
  [disabled]="!url"
>
  Exportar como PNG
</button>

 <div class="mt-4 flex justify-center">
  <div #qrContainer class="w-full max-w-sm aspect-square"></div>
</div>
</div>
