<div class="bg-black w-full relative  grid grid-cols-1 justify-center items-center parallax-bg z-0">
    <div class="relative h-lvh max-w-full w-full mt-20">
        <div class="relative container w-96 mx-auto py-7 px-10 cristal">
            <h3 class="text-2xl poetsen">
                Descripción
            </h3>
            <img [src]="image" alt="foto" class="float-right w-32 rounded-lg mx-2 mt-2">
            <p class="text-black ubuntu text-justify text-md">
                {{description_personal}}
            </p>
        </div>
    </div>
    <div class=" bg-gray-400">
        <app-tools-used/>
    </div>
    <div class="contenedor_experiencia_laboral">
        <div>
            <h2>
                Lorem ipsum dolor sit amet.
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur aliquam voluptas, maiores est, ipsam explicabo impedit et, quis atque fugiat nesciunt alias labore optio.</p>
        </div>
        <div class="contenedor_timeline">
            <app-timeline/>
        </div>
    </div>
</div>
