<div class="bg-black w-full relative  grid grid-cols-1 justify-center items-center z-0">
    <div class="relative h-lvh max-w-full w-full pt-20  parallax-bg">
        <div class="relative container w-96 mx-auto py-7 px-10 contenedor_infografia">
            <h3 class="text-2xl poetsen text-white">
                Descripción
            </h3>
            <img [src]="image" alt="foto" class="float-right w-32 rounded-lg mx-2 mt-2">
            <p class="ubuntu text-justify text-md text-white">
                {{description_personal}}
            </p>
        </div>
    </div>
    <div class="">
        <app-tools-used/>
    </div>
    <div class="contenedor_experiencia_laboral">
        <div class="">
            <div class="contenedor_experiencia flex flex-col justify-center items-center">
                <h2 class="texto_experiencia text-2xl text-center ubuntu_2">
                    Trabajos con el transcurso del tiempo
                </h2>
                <p class="texto_experiencia text-center py-3 ubuntu">
                    Un recorrido visual por mi trayectoria profesional: cada paso, un nuevo desafío superado y un logro alcanzado. Descubre cómo mi experiencia ha evolucionado a lo largo del tiempo.
                </p>
            </div>
        </div>
        <div class="contenedor_timeline">
            <app-timeline/>
        </div>
    </div>
</div>
