.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--colorFondo);
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-height: 70lvh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
    width: 0; /* Oculta la barra de desplazamiento vertical */
    height: 0; /* Oculta la barra de desplazamiento horizontal */
}
.btnOscuro:active{
    background-color: var(--colorVerdeOscuro);
    color: var(--grisClaro);
}