.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--colorFondo);
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-height: 80lvh;
    overflow-y: auto;
}
