.carousel-container {
    display: flex; /* Alinea los elementos en una línea */
    overflow: hidden; /* Oculta el contenido que se desborda */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    position: relative; /* Necesario para el posicionamiento absoluto en el overlay */
    height: 200px; /* Altura fija del contenedor */
    justify-content: center;
    align-items: center;
}

.carousel-wrapper {
    display: flex; /* Alinea los elementos en una línea */
    transition: transform 0.3s ease-in-out; /* Transición suave para el movimiento del wrapper */
    height: 100%; /* Asegura que el wrapper ocupe toda la altura del contenedor */
    width: 90%;
}

.carousel-item {
    flex: 0 0 33.33%; /* Cada ítem ocupa 1/3 del ancho del contenedor */
    position: relative;
    transition: transform 0.3s ease-in-out; /* Transición suave para la expansión */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    height: 100%; /* Altura fija para coincidir con el contenedor */
}

.carousel-item:hover {
    transform: scaleX(1.5); /* Expande el ítem horizontalmente al pasar el cursor */
    z-index: 1; /* Asegura que el ítem en hover esté por encima de los demás */
}

.carousel-image {
    width: 100%;
    height: 100%; /* Mantiene la altura fija */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    display: block;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease-in-out;
    padding: 10px; /* Opcional: Añade un poco de padding */
    text-align: center; /* Opcional: Centra el texto */
}

.carousel-item:hover .carousel-overlay {
    opacity: 1; /* Muestra el overlay al hacer hover */
}

