<div class="bg-black pt-20">
    <div class="container m-auto">
        <div class="relative flex justify-center md:grid md:grid-cols-2 min-h-96 contenedor_header">
            <div class="absolute flex w-11/12  gap-3 z-10 flex-col bg-black bg-opacity-70 rounded p-5 md:relative">
                <h3 class=" text-white animate-fade animate-delay-[1000ms] righteous text-3xl md:text-4xl xl:text-6xl">
                    {{titulo}}
                </h3>
                <p class="text-white ubuntu animate-fade animate-delay-[1500ms] text-lg md:text-xl xl:text-2xl">
                    <cite>
                        {{descripcion}}
                    </cite>
                </p>
                <div class="w-full flex justify-end mt-4">
                    <app-btn-llamada-acion/>
                </div>
            </div>
            <div class="relative flex">
                <img [src]="img1" alt="programacion" class="block imagen1 animate-fade animate-delay-1000">
            </div>
        </div>

        <div class="w-full flex flex-col gap-5 justify-center items-center relative m-0 pt-20 lg:flex-row">
            <div *ngFor="let item of lista_etl" class="grid grid-cols-1 md:grid-cols-2 contenedor_carrusel">
                <div class="relative contenedor_texto_carrusel">
                    <h1 class="text-white russo text-2xl md:text-3xl xl:text-4xl text-center">
                        {{item.titulo}}
                    </h1>
                    <p class="text-white ubuntu text-lg md:text-xl xl:text-2xl p-4 rounded rounded-lg">
                        {{item.detalles}}
                    </p>
                </div>
                <img [src]="item.imagen" alt="" class="h-full imagen_carrusel">
            </div>
        </div>
    </div>
</div>