.contenedor_carrusel{
    display: block;
    position: relative;
    min-height: 600px;
}
@media (min-width: 1024px) {
    .contenedor_texto_carrusel{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 12px;
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        overflow-y: hidden;
    }
    .contenedor_texto_carrusel > p {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    .imagen_carrusel {
        display: block;
        width: 500px;
        min-height: 500px;
        object-fit: cover;
        object-position: center;
        transition: width 0.3s ease;
    }
    
    .contenedor_texto_carrusel:hover ~ .imagen_carrusel {
        width: 700px;
    }
    
    .contenedor_texto_carrusel:hover > p {
        visibility: visible;
        opacity: 1;
        background-color: var(--gris);
    }
    
}