<div class="bg-black pt-20">
    <div class="container m-auto">
        <div class="relative flex justify-center md:grid md:grid-cols-2 min-h-96">
            <div class="absolute flex w-11/12  gap-3 z-10 flex-col bg-black bg-opacity-70 rounded p-5 md:relative">
                <h3 class=" text-white animate-fade animate-delay-[1000ms] righteous text-3xl md:text-4xl xl:text-6xl">
                    Desarrollo de software
                </h3>
                <p>
                    <span class=" text-white ubuntu animate-fade animate-delay-[1500ms] text-lg d:text-xl xl:text-2xl">
                        El desarrollo de software transforma tus ideas en soluciones innovadoras que optimizan procesos y impulsan el éxito. Con nuestras herramientas personalizadas, mantente a la vanguardia y aprovecha cada oportunidad en un mundo tecnológico en constante evolución.
                    </span>
                </p>
                <div class="w-full flex justify-end mt-4">
                    <button class="btn_color p-2 rounded-tr-lg rounded-bl-lg hover:bg-blue-700 animate-fade animate-delay-[1500ms]">
                        <a href="" class="text-white text-sm md:text-lg">
                            Descubre Nuestros Servicios
                        </a>
                    </button>
                </div>
            </div>
            <div class="relative flex">
                <img [src]="img1" alt="programacion" class="block imagen1 animate-fade animate-delay-1000">
            </div>
        </div>
        
    </div>
</div>