.height{
  min-height: 400px;
  max-height: 400px;
}
.contenedor-texto {
  height: 100%;       /* Toma la altura del padre */
  display: flex;
  flex-direction: column;
  min-height: 0;      /* ¡Crucial! Permite que el contenido se recorte */
}

.texto-ajustable {
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
}
