<section class="w-full h-screen fondo z-0">
    <div class="grid grid-cols-2 grid-rows-1 h-full px-0">
        <div class="col-span-1 hidden md:flex flex-col justify-center gap-6 text-center items-center">
            <h1 class="righteous text-6xl text-white animate-fade-right animate-duration-[4500ms] animate-ease-in">
                {{titulo}}
            </h1>
        </div>
        <div class="col-span-2 md:col-span-1 flex justify-center items-center relative">
            <img [src]="img" alt="" class=" animate-pulse animate-infinite animate-duration-[4500ms] sombra_imagen desvanecer_inferior block  max-w-full max-h-full object-contain">
            <div class="absolute left-5 bottom-24">
                <p class="poetsen text-5xl text-white z-0 sombra_letra">Ángel</p>
            </div>
            <div class="absolute right-5 bottom-24">
                <h3 class="poetsen text-5xl text-white z-0 sombra_letra">Vallejo</h3>
            </div>
        </div>
    </div>
</section>

