.fondo{
    background-image: linear-gradient(to right, #000000 0%, #000c64 100%);
}
.shadown-photo{
    box-shadow: 8px 15px 30px rgba(148, 148, 148, 0.538);
}
.sombra_imagen{
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.968));
}
.desvanecer_inferior{
    mask-image: linear-gradient(to top, transparent 2%, black 40%);
}