<section class=" bacground-gradient-brack h-lvh flex justify-center items-center">
    <div class="absolute z-10 grid grid-cols-1 md:grid-cols-2">
        <div class="col-auto w-full place-content-center mx-10 md:mx-5 order-last md:order-first">
            <div class="bg-white bg-opacity-80 backdrop-blur-lg p-8 my-8 rounded-lg shadow-lg flex flex-col gap-2">
                <p class="text-sm font-bold md:text-xl lg:text-2xl">
                    {{tittle | uppercase}}
                </p>
                <p class="text-justify text-sm md:text-sm lg:text-lg">
                    {{description_personal}}
                </p>
            </div>
        </div>
        <div class="col-auto w-full flex justify-center my-4 order-last md:order-first">
            <img class="max-w-96 min-w-96 max-h-96 min-h-96 md:max-w-96 md:min-w-96 md:min-h-96 md:max-h-96 my-auto rounded-full shadown-photo border-4" src="https://images.pexels.com/photos/428361/pexels-photo-428361.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
    </div>
    <svg class="absolute bottom-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(19, 1, 91, 0.578)" fill-opacity="1" d="M0,32L480,224L960,288L1440,160L1440,320L960,320L480,320L0,320Z"></path></svg>
</section>