<div class="w-full imagen">
    <div class="linea">
        <div class="elemento" *ngFor="let item of experiencia">
            <div class="punto"></div>
            <div class="contenido">
                <h2 class="righteous font-bold text-2xl">
                    {{item.puesto}}
                </h2>
                <cite class="cinzel">
                    {{item.empresa}}
                </cite>
                <p>
                    <span class="date">
                        {{item.periodo}}
                    </span>
                </p>
                <p class="ubuntu">
                    {{item.descripcion}}
                </p>
            </div>
        </div>
    </div>
</div>
