.imagen{
    /* background-image: url('../../../../assets/images/faro.jpg'); */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100%;
}
.linea {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0rem auto;
    padding: 5rem 0;
}

.linea::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: var(--colorVerdeClaro);
    transform: translateX(-50%);
}
.linea::after {
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--colorVerdeOscuro);
    transform: translateX(-50%);
    box-shadow: 0px 0px 50px var(--colorVerdeClaro);
}
.elemento{
    position: relative;
    display: flex;
    width: 100%;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation-name: scaleAnimacion;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timeline: var();
}
.punto{
    position: relative;
    top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.punto::before{
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--gris);
    border: 2px solid var(--colorVerdeClaro);
    box-shadow: 0px 0px 50px var(--colorVerdeClaro);
    z-index: 1;
}
.elemento:nth-child(odd){
    justify-content: end;
    align-items: end;
}
.elemento:nth-child(even){
    justify-content: start;
    align-items: start;
}
.contenido{
    position: relative;
    width: 40%;
    background-color: var(--gris);
    box-shadow: 0px 10px 40px var(--colorVerdeOscuro);
    border-radius: 1rem;
    padding: 1rem;
    opacity: 50%;
}
.date{
    background-color: var(--grisOscuroClaro);
    padding: 2px 10px;
    border-radius: 20px;
    color: var(--colorTexto);
    font-weight: bold;
}
@keyframes scaleAnimacion {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }