<nav class="w-auto bg_blue_normal z-20">
    <div class="flex justify-between py-4 px-5">
        <div>
            <a href="#" class="text-white text-3xl cinzel font-bold">
                {{name}}
            </a>
        </div>
        <div class="flex gap-3">
            <ul class="" *ngFor="let item of links_navbar">
                <a href="">
                    <li class="text-white text-xl cinzel hover:cursor-pointer">
                        {{item}}
                    </li>
                </a>
            </ul>
        </div>
    </div>
</nav>