@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fjalla+One&family=Righteous&family=Russo+One&family=Ubuntu+Condensed&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+BE+VLG&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --colorFondo : #000000;
  --colorTexto : #e0ffff;
  --colorContenedor : #161616;
  --colorAzul : #007BFF;
  --colorVerdeOscuro : #004900;
  --colorVerdeClaro : #28A745;
  --colorAzulClaro : #69a9ff;
  --grisClaro: #e0e0e0;
  --grisOscuroClaro : #2c2c2c;
  --gris: #56647b;
}

.colorTexto{
  color: var(--colorTexto);
}
.playwrite {
  font-family: "Playwrite BE VLG", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.righteous {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  .cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .ubuntu {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  .ubuntu_2 {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 50;
    font-style: normal;
  }
  .russo {
    font-family: "Russo One", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .poetsen {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.space-line{
    line-height: 85px;
}
.sombra_letra{
  text-shadow:  10px 10px 5px black;
}
.sombra_caja{
  box-shadow:  7px 7px 5px black;
  transition: all 0.5s;
}
.sombra_caja:hover{
  box-shadow:  none;
}

.cristal{
  background: #ffffff;
  backdrop-filter: blur(10px);
  /* border: 2px solid rgba(0, 0, 0, 0.653);*/
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.833); 
  border-radius: 10px;
}
.trasfondo{
  background: #ffffff;
}
.trasfondo_dos{
  background: #bbc4c2;
}
.subtitulo_color{
  color: #002e98;
}
.btn_color{
  background: #003d83;
}
