.fondo{
    background-color: var(--colorFondo);
}
.contenido{
    width: 90%;
    margin: auto;
}
.contenedor_targeta{
    background-color: var(--colorContenedor);
    width: 70%;
    margin: auto;
}
.btn{
    
}